  .main-header {
    background-color: #0a6093;
  }
  
  .main-sub-header_shadow {
    background-color: white;
    box-shadow: 1px 1.7px 5px #d5d5d5;
  }
  
  .main-sub-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      display: inline-block;
      margin: 20px 15px;
      text-align: left;
      color: #181818;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }
    .sub-header__phone {
      color: #181818;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 700;
    }
    a {
      display: inline-block;
      margin: 5px 15px;
      padding: 5px 20px;
      background-color: #e50808;
      border: 2px solid #e50808;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      border-radius: 50px;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
        background-color: #0a6093;
        border-color: #0a6093;
      }
    }
  }
  
  .home-about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/about_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    a {
      display: inline-block;
      margin: 5px 15px;
      padding: 5px 20px;
      background-color: #e50808;
      border: 2px solid #e50808;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      border-radius: 50px;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
        background-color: #0a6093;
        border-color: #0a6093;
      }
    }
  }
  
  .home-title {
    display: block;
    margin-bottom: 50px;
    text-align: center;
    color: #181818;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
  }
  
  .home-about-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  
  .home-about-card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 40px;
    img {
      display: block;
      margin-bottom: 10px;
      max-width: 100%;
    }
    span {
      display: block;
      max-width: 170px;
      color: black;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
    }
  }
  
  .home-products {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  
  .home-products-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .home-products-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10px 0 20px;
    width: 270px;
    height: 285px;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 4px;
    background-color: rgba(10, 96, 147, 0.7);
    transition: all 0.2s ease-out;
    span {
      display: block;
      width: 100%;
      color: white;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      color: white;
      li {
        a {
          color: white;
          text-decoration: underline;
          font-family: Roboto;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    &:hover {
      background-color: transparent;
      border: 5px solid #0a6093;
      box-shadow: 0 0 12px #e4e0e0;
      span {
        color: #e50808;
        text-decoration: none;
        text-shadow: -0 -4px 0 #FFFFFF, 0 -4px 0 #FFFFFF, -0 4px 0 #FFFFFF, 0 4px 0 #FFFFFF, -4px -0 0 #FFFFFF, 4px -0 0 #FFFFFF, -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF, -1px -4px 0 #FFFFFF, 1px -4px 0 #FFFFFF, -1px 4px 0 #FFFFFF, 1px 4px 0 #FFFFFF, -4px -1px 0 #FFFFFF, 4px -1px 0 #FFFFFF, -4px 1px 0 #FFFFFF, 4px 1px 0 #FFFFFF, -2px -4px 0 #FFFFFF, 2px -4px 0 #FFFFFF, -2px 4px 0 #FFFFFF, 2px 4px 0 #FFFFFF, -4px -2px 0 #FFFFFF, 4px -2px 0 #FFFFFF, -4px 2px 0 #FFFFFF, 4px 2px 0 #FFFFFF, -3px -4px 0 #FFFFFF, 3px -4px 0 #FFFFFF, -3px 4px 0 #FFFFFF, 3px 4px 0 #FFFFFF, -4px -3px 0 #FFFFFF, 4px -3px 0 #FFFFFF, -4px 3px 0 #FFFFFF, 4px 3px 0 #FFFFFF, -4px -4px 0 #FFFFFF, 4px -4px 0 #FFFFFF, -4px 4px 0 #FFFFFF, 4px 4px 0 #FFFFFF, -4px -4px 0 #FFFFFF, 4px -4px 0 #FFFFFF, -4px 4px 0 #FFFFFF, 4px 4px 0 #FFFFFF;
      }
      ul {
        color: #e50808;
        li {
          a {
            text-decoration: none;
            color: #e50808;
            text-shadow: -0 -4px 0 #FFFFFF, 0 -4px 0 #FFFFFF, -0 4px 0 #FFFFFF, 0 4px 0 #FFFFFF, -4px -0 0 #FFFFFF, 4px -0 0 #FFFFFF, -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF, -1px -4px 0 #FFFFFF, 1px -4px 0 #FFFFFF, -1px 4px 0 #FFFFFF, 1px 4px 0 #FFFFFF, -4px -1px 0 #FFFFFF, 4px -1px 0 #FFFFFF, -4px 1px 0 #FFFFFF, 4px 1px 0 #FFFFFF, -2px -4px 0 #FFFFFF, 2px -4px 0 #FFFFFF, -2px 4px 0 #FFFFFF, 2px 4px 0 #FFFFFF, -4px -2px 0 #FFFFFF, 4px -2px 0 #FFFFFF, -4px 2px 0 #FFFFFF, 4px 2px 0 #FFFFFF, -3px -4px 0 #FFFFFF, 3px -4px 0 #FFFFFF, -3px 4px 0 #FFFFFF, 3px 4px 0 #FFFFFF, -4px -3px 0 #FFFFFF, 4px -3px 0 #FFFFFF, -4px 3px 0 #FFFFFF, 4px 3px 0 #FFFFFF, -4px -4px 0 #FFFFFF, 4px -4px 0 #FFFFFF, -4px 4px 0 #FFFFFF, 4px 4px 0 #FFFFFF, -4px -4px 0 #FFFFFF, 4px -4px 0 #FFFFFF, -4px 4px 0 #FFFFFF, 4px 4px 0 #FFFFFF;
          }
        }
      }
    }
  }
  
  .home-products-card__link {
    display: inline-block;
    padding: 5px 40px;
    background-color: #e50808;
    border: 2px solid #e50808;
    border-radius: 50px 50px 0 0;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #0a6093;
      text-decoration: none;
      border-color: #0a6093;
      color: white;
      text-decoration: none;
    }
  }
  
  .home-seo {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../images/home_seo_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .home-seo__block {
    padding: 45px 40px;
    background-color: white;
    box-shadow: 0 0 12px #e4e0e0;
    color: #181818;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    img {
      display: inline-block;
      max-width: 100%;
    }
    p {
      margin: 0;
      margin-bottom: 15px;
    }
    .col-md-5 {
      padding-right: 30px;
    }
  }
  
  .home-recall {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../images/home_call_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    span {
      display: block;
      margin-bottom: 50px;
      color: white;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
    }
    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-self: center;
      input {
        display: inline-block;
        width: 300px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 14px 12px;
        background-color: white;
        border: none;
        outline: none;
        border: 2px solid #00466f;
        border-radius: 4px;
        color: #181818;
        transition: all 0.2s ease-out;
        &:focus {
          background-color: #ffff99;
        }
      }
      input[type='button'] {
        background-color: #e50808;
        border: 2px solid #e50808;
        border-radius: 50px;
        color: white;
        &:hover {
          background-color: #181818;
          border-color: #181818;
        }
      }
    }
  }
  
  .logo {
    display: inline-block;
    max-width: 100%;
    margin-right: 100px;
  }
  
  .home-map {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .main-footer-info {
    background-color: #012439;
  }
  
  .main-footer-info__block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    div {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      span {
        display: inline-block;
        margin-left: 40px;
        color: #e5e5e5;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .sub-footer__phone {
      color: #e5e5e5;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 700;
    }
  }
  
  .creators {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #012439;
    transition: all 0.2s ease-out;
    img {
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
      transition: all 0.4s ease-out;
    }
    a {
      color: white;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e50808;
      }
    }
    &:hover {
      img {
        transform: rotate(360deg);
      }
    }
  }
  
  .main-content {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  
  .main-breadcrump {
    margin-bottom: 25px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    color: #bdbcbc;
    a {
      display: inline-block;
      font-family: Roboto;
      font-size: 10px;
      font-weight: 400;
      color: #0a6093;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e50808;
      }
    }
    span {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      font-family: Roboto;
      font-size: 10px;
      font-weight: 400;
      color: #bdbcbc;
    }
  }
  
  .main-content__title {
    display: block;
    margin-bottom: 40px;
    color: #181818;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  
  .main-sidebar {
    background-color: white;
    box-shadow: 0 0 12px #e4e0e0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 12px 20px;
          border-bottom: 1px solid #dadada;
          color: #181818;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          transition: all 0.2s ease-out;
          img {
            display: inline-block;
            margin-left: 5px;
          }
          &:hover {
            background-color: #00466f;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    .dropdown-menu {
      li {
        a {
          color: white;
          border: none;
        }
      }
    }
  }
  
  .main-sidebar__title {
    display: block;
    width: 100%;
    background-color: #0a6093;
    padding: 14px;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
  }
  
  .main-content_padding {
    padding-left: 30px;
  }
  
  .main-content__text {
    display: block;
    margin-bottom: 25px;
    color: #181818;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .categories-cards {
    display: flex;
    flex-flow: row wrap;
  }
  
  .categories-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 15px;
    width: 205px;
    height: 205px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(10, 96, 147, 0.7);
    transition: all 0.2s ease-out;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: white;
    &:hover {
      background-color: transparent;
      text-decoration: none;
      color: #e50808;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      text-shadow: -0 -4px 0 #FFFFFF, 0 -4px 0 #FFFFFF, -0 4px 0 #FFFFFF, 0 4px 0 #FFFFFF, -4px -0 0 #FFFFFF, 4px -0 0 #FFFFFF, -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF, -1px -4px 0 #FFFFFF, 1px -4px 0 #FFFFFF, -1px 4px 0 #FFFFFF, 1px 4px 0 #FFFFFF, -4px -1px 0 #FFFFFF, 4px -1px 0 #FFFFFF, -4px 1px 0 #FFFFFF, 4px 1px 0 #FFFFFF, -2px -4px 0 #FFFFFF, 2px -4px 0 #FFFFFF, -2px 4px 0 #FFFFFF, 2px 4px 0 #FFFFFF, -4px -2px 0 #FFFFFF, 4px -2px 0 #FFFFFF, -4px 2px 0 #FFFFFF, 4px 2px 0 #FFFFFF, -3px -4px 0 #FFFFFF, 3px -4px 0 #FFFFFF, -3px 4px 0 #FFFFFF, 3px 4px 0 #FFFFFF, -4px -3px 0 #FFFFFF, 4px -3px 0 #FFFFFF, -4px 3px 0 #FFFFFF, 4px 3px 0 #FFFFFF, -4px -4px 0 #FFFFFF, 4px -4px 0 #FFFFFF, -4px 4px 0 #FFFFFF, 4px 4px 0 #FFFFFF, -4px -4px 0 #FFFFFF, 4px -4px 0 #FFFFFF, -4px 4px 0 #FFFFFF, 4px 4px 0 #FFFFFF;
    }
  }
  
  .category-control {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #dadada;
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      .pagination {
        margin: 0;
      }
      div {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        color: #181818;
        span {
          color: #bdbcbc;
        }
        a {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          color: #181818;
          transition: all 0.2s ease-out;
          &:hover,
          &:focus,
          &:active {
            color: #0a6093;
            text-decoration: none;
          }
        }
      }
    }
  }
  
  .category-cards {
    display: flex;
    flex-flow: row wrap;
  }
  
  .category-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 205px;
    height: 335px;
    padding: 18px;
    border: 1px solid #dadada;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
    img {
      display: block;
      width: 180px;
      height: 180px;
      object-fit: contain;
    }
    span {
      display: block;
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #dadada;
      color: #181818;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
    }
    a {
      display: inline-block;
      padding: 8px 40px;
      background-color: #e50808;
      border: 2px solid #e50808;
      border-radius: 50px;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #0a6093;
        border-color: #0a6093;
        text-decoration: none;
      }
    }
  }
  
  .category-post-text {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #dadada;
    color: #181818;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .news-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 3px #e4e0e0;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #e4e0e0;
    }
    img {
      max-width: 290px;
      display: inline-block;
      margin-right: 30px;
    }
    span {
      display: block;
      max-width: 340px;
      margin-top: 15px;
      margin-bottom: 10px;
      color: #181818;
      font-family: Roboto;
      font-size: 22px;
      font-weight: 700;
    }
    p {
      display: block;
      color: #181818;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
    }
    a {
      display: inline-block;
      padding: 8px 40px;
      background-color: #e50808;
      border: 2px solid #e50808;
      border-radius: 50px;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #0a6093;
        border-color: #0a6093;
        text-decoration: none;
      }
    }
  }
  
  .article-text {
    color: #181818;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    img {
      max-width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #181818;
      font-family: Roboto;
      font-weight: 700;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 22px;
    }
    .article-text__info {
      display: block;
      margin: 20px 10px 20px 30px;
      padding-left: 20px;
      border-left: 10px solid #0a6093;
      color: #181818;
      font-family: Roboto;
      font-size: 21px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  
  .product-info {
    padding-left: 50px;
    span {
      display: block;
      margin-bottom: 10px;
      color: #181818;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 700;
    }
    p {
      color: #181818;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
    a {
      display: inline-block;
      padding: 8px 40px;
      background-color: #e50808;
      border: 2px solid #e50808;
      border-radius: 50px;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #0a6093;
        border-color: #0a6093;
        text-decoration: none;
      }
    }
  }
  
  .product__for-button {
    margin-top: 30px;
    padding: 8px;
    background-color: #0a6093;
    text-align: center;
  }
  
  .product-text {
    margin-top: 50px;
    color: #181818;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    span {
      display: block;
      margin-bottom: 10px;
      color: #181818;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }
  }