.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  float: none;
}

.nav>li>a {
  padding: 5px 20px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  &:hover,
  &:focus,
  &:active {
    background: #06527f;
  }
}

.dropdown-menu {
  padding: 0;
  border: none;
}

.dropdown-menu>li>a {
  padding: 5px 20px;
  background-color: #06527f;
  border: 1px solid #0a6093;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  &:hover {
    background-color: #0a6093;
  }
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.carousel-caption {
  max-width: 565px;
  height: 480px;
  padding: 60px 90px 60px 100px;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  background-image: url('../images/home_slider_cap.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-align: left;
  span {
    display: block;
    margin-bottom: 30px;
    color: white;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
  }
  p {
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
  }
  a {
    display: inline-block;
    margin-top: 50px;
    padding: 5px 20px;
    background-color: #e50808;
    border: 2px solid #e50808;
    border-radius: 50px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #0a6093;
      text-decoration: none;
    }
  }
}

.carousel-indicators {
  max-width: 565px;
  margin-left: auto;
  left: 0;
}

.carousel-indicators .active {
  background-color: #e50808;
  border: 3px solid white;
}

.carousel-indicators li {
  background-color: white;
  border: 5px solid white;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.pagination {
  margin-bottom: 0;
  border-radius: 0;
}

.pagination>li>a,
.pagination>li>span {
  display: inline-block;
  margin-right: 4px;
  border: none;
  background-color: #e9e9e9;
  padding: 6px 10px;
  color: #181818;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  background-color: #0a6093;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  border-radius: 0;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: 0;
}

#sync1 .item {
  background: #f4f4f4;
  margin: 5px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  border: 2px solid #e9e9e9;
  img {
    display: block;
    width: 100%;
    height: 290px;
    object-fit: cover;
  }
}

#sync2 {
  padding-left: 35px;
  padding-right: 35px;
}

#sync2 .item {
  background: #f4f4f4;
  margin: 5px;
  border: 2px solid #e9e9e9;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

#sync2 .synced .item {
  border: 2px solid #0a6093;
  background: #0a6093;
}

table {
  color: #1f1f1f;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

thead {
  background-color: #0a6093;
  border: 1px solid #d0d1d2;
  color: white;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.owl-buttons {
  display: flex;
  margin-top: -50px;
  margin-left: -30px;
  margin-right: -30px;
  justify-content: space-between;
  align-items: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: transparent;
  padding: 0;
  margin: 0;
}