@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .carousel-caption {
    padding: 30px;
    span {
      font-size: 28px;
    }
  }
  .main-sub-header {
    flex-flow: column wrap;
    text-align: center;
    .logo {
      margin: 0;
      margin-top: 10px;
    }
    span {
      margin: 5px;
      text-align: center;
    }
  }
  .navbar-nav {
    flex-flow: column wrap;
    text-align: center;
    .caret {
      display: none;
    }
  }
  .home-about {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home-about-cards {
    flex-flow: column wrap;
  }
  .home-about-card {
    margin-bottom: 20px;
  }
  .home-title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .home-products {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home-seo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home-recall {
    padding-top: 15px;
    padding-bottom: 15px;
    span {
      margin-bottom: 20px;
      font-size: 24px;
    }
    input[type='button'] {
      margin-top: 10px;
    }
  }
  .main-footer-info__block {
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
  }
  .main-footer-info__block div {
    flex-flow: column wrap;
    text-align: center;
    span {
      text-align: center;
      margin-top: 5px;
    }
  }
  .home-map {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-content__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .main-sidebar {
    .dropdown-submenu>.dropdown-menu {
      width: 100%;
      position: relative;
      left: auto;
    }
  }
  .categories-cards {
    flex-flow: column wrap;
    align-items: center;
  }
  .main-footer-info__block div span {
    margin: 0;
  }
  .category-control form {
    flex-flow: column wrap;
  }
  .category-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  nav {
    text-align: center;
  }
  .main-content_padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-info {
    padding: 0;
  }
  .product-info span {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}